name: Test

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  code:
    name: Code
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: scop/common/force-color@main
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: cargo --verbose test
