name: Test

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  code:
    name: Code
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: scop/common/force-color@main
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: cargo --verbose test
